@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Open+Sans&family=Poppins:wght@300&display=swap');
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ........................................ */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  left: -20px;
  top: 9px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 1px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* ............................................................ */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* ................................................................. */
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.my-bullet-class {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #dfdfe1;
  border-radius: 50%;
  transition: all ease-in 300ms;
}
.my-bullet-active-class {
  display: block;
  width: 30px;
  height: 8px;
  background-color: #1e1d1f;
  border-radius: 50px;
  transition: all ease-in 300ms;
}
/* ...................................................................... */
.lighGray {
  background-color: #f3f3f3;
}
.green {
  background-color: #607d8a;
}
.purple {
  background-color: #9d28ac;
}
.brown {
  background-color: #7a5448;
}
.blue {
  background-color: #1a96f0;
}
.red {
  background-color: red;
}
.black {
  background-color: #000;
}
/* ............................................................ */
.cart{
  box-shadow: 0 0 10px 10px #EDECEC;
}
#sizeValidation{
  margin-left: 0 !important;
}
#colorValidation{
  margin-left: 0 !important;
}
